button
  border:none
.btn-bg
   background:linear-gradient(bottom,#191970 0%,#1E90FF 7%,#00FFFF 100%)
   color:#fff
   padding:0.02rem 0.15rem
.btn-cencel
   background:linear-gradient(bottom,#222 0%,#666 7%,#999 100%)
   padding:0.02rem 0.15rem
   color:#fff
table 
    border-collapse:collapse
    td
        border 1px solid #ddd
    th 
        border 1px solid #ddd
.fr 
  float right
.p10
   padding 0.1rem
.tcr
  text-align: center         
#app
    height 100%
    .search_box
        margin-top 0.05rem
        ul
          border-top 1px solid #ddd
          display :flex
          flex-wrap :wrap
          li:nth-child(odd)
             border-right 1px solid #ddd
          .seaderbitem
              text-align center
          li
            line-height :30px
            box-sizing: border-box
            border-bottom:1px solid #ddd
            flex-grow :1
            width:50%
            label 
              display :inline-block
              border-right: 1px solid #ddd
              white-space:nowrap
              width :0.65rem
              padding-left :0.08rem
              font-size:15px
            select
              width :1rem
        .butonitem
              text-align center
  .boxtable_paging
        width 100%
        box-sizing border-box
        padding 0.1rem 0
        text-align center          
 //element-ui 重写
  .el-table th>.cell
    white-space nowrap